#occasionoption.modal.fade.m{'tabindex':-1 , 'role':'dialog','aria-labelledby':'occasionoption'}
	.modal-dialog.modal-lg{'role':'document'}
		.modal-content.text-center
			.h1 Some of the occasions are

			%ul
				%li=link_to 'Diwali' , diwali_path
				%li=link_to 'Birthday' , birthday_path
				%li= link_to 'New Year' , newyear_path
				%li=link_to 'holi' , holi_path
				%li=link_to 'Christmas' , christmas_path
				%li=link_to 'Choti Diwali' , choti_diwali_path