.decordiv
	.decor_diwali
		.diwaliwish.text-center
			.wishername_diwali
				-if @wisher==nil
					%p 'Your name'
				-else
					=@wisher
			=image_tag 'wish.png' , class: 'diwaliwishimg'
		.birthday_main_decor
			.row
				.birthday_image1.col-xs-5
					=image_tag 'birthday1.gif'
				.birthday_image2.col-xs-6
					=image_tag 'birthday2.gif'
			%br
			.special_message
				%blockquote
					%p 
						On your special day, I wish you good luck. I hope this wonderful day will fill up your heart with joy and blessings. Have a fantastic birthday, celebrate the happiness on every day of your life. Happy Birthday!

					%footer 
						%cite{'title':"Wisher Name"}
							= @wisher
			%form.form-inline.text-center
				.form-group
					%input.form-control{'type':'name','placeholder':'Name',id:'wisher_name'}
					%input.form-control{'type':'name','placeholder':'Special Message'}
					%btn.btn.btn-success{'id':'wisher_btn'} Wish

