.decordiv
	.decor_diwali
		.diwaliwish.text-center
			.wishername_diwali
				-if @wisher==nil
					%p 'Your name'
				-else
					=@wisher
			=image_tag 'wish.png' , class: 'diwaliwishimg'
		.birthday_main_decor
			.row
				.birthday_image1.col-xs-6
					=image_tag 'choti_diwali2.gif'
				.birthday_image2.col-xs-6
					=image_tag 'choti_diwali_gif.gif'
			%br
			.special_message
				%blockquote
					%p.lead
						Choti hi sahi,
						Diwali to hai...
						%br
						HAPPY DIWALI

					%footer 
						%cite{'title':"Wisher Name"}
							= @wisher
			%form.form-inline.text-center
				.form-group
					%input.form-control{'type':'name','placeholder':'Name',id:'wisher_name'}
					/%input.form-control{'type':'name','placeholder':'Special Message'}
					%btn.btn.btn-success{'id':'wisher_btn'} Wish
					%br
					%hr

					- if @wisher != nil
						%label Share your URL:
						%input.form-control{'type':'url','placeholder':'sharing url','id':'urlinput','value':"#{request.original_url}"}



