#indexmainbg
	.heading.text-center
		Welcome to Wishme-Hub
	%p.lead
		A new way of wishing your family and friends..
		No matter what the occasion is, we all love to wish and to be wished.
	.h3
		Wishme-hub is specially created with love to spread love.
	%br
	%hr
	.row.index_brief.text-center
		.col-xs-4
			=image_tag 'diwali.jpg'
			.h2
				Diwali Wishes
			=link_to 'Wish now' , diwali_path , class:'btn btn-primary' 
		.col-xs-4
			=image_tag 'birthday.gif'
			.h2
				Birthday Wishes
			=link_to 'Wish now' , birthday_path , class:'btn btn-primary' 
		.col-xs-4
			=image_tag 'newyear.jpg'
			.h2
				New year's eve
			=link_to 'Wish now' , newyear_path , class:'btn btn-primary' 
	%hr
	.container
		%ul
			.h4
				%li 
					Select your occasion
				%li
					Write your name
				%li
					Write an optional personal message and you're ready to go.
	%hr
	.text-center{'data-target':'#occasionoption' , 'data-toggle':'modal'}
		='-- >'
		.btn.btn-primary.modallink.grey Start now 
	%hr
= render 'modaldiv'