/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a absolute path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	background-image: url('wishmehubbg.png');
	background-size: cover;
}

.index_brief img{
	height: 350px;
	width: 100%;
}

.logo img{
	height: 250px;
	width: 700px;
	}
.logo{
	padding: 20px;
}
/* diwali styling */
.decor_diwali{
	background-color: black;
	padding: 20px;
}
.special_message{
	color: white;
}
.decordiv
{
	padding: 50px;
}
.wishername_diwali{
	font-size: 40px;
	font-weight: 600;
	font-family: sans-serif;
	color: white;
	text-transform: capitalize;
}


.diwaliwishimg{
	position: relative;
	width: 500px;
}

.diwali_main_decor{
	position: relative;
	top: -50px;
}
marquee{

    width: 40px;
    height: 100%;

}
.marquee-right{
	width: 35px;
	margin-top: 50px;
	
}
.marquee-right img{

	width: 100%;
}
.marquee-left{
	
	width: 35px;
	
	margin-bottom: 50px;
}
.marquee-left img{
	width: 100%;
}

.heading{
	font-weight: 900;
	font-size: 50px;
	padding: 15px;
}

/* Birthday wishes */

.birthday_main_decor img{
	position: relative;
	width: 100%;
	top: -50px;
}

/* mobile views */

@media only screen and (max-width: 700px) {

.index_brief img{
	height: 150px;
	width: 100%;
}

.logo img{
	height: 150px;
	width: 400px;
	}
.logo{
	padding: 20px;
}

.decordiv
{
	padding: 20px;
}
.wishername_diwali{
	font-size: 20px;

}

.diwaliwishimg{
	position: relative;
	width: 270px;
}

.diwali_main_decor{
	position: relative;
	top: -10px;
}

marquee{

    width: 30px;
    height: 100%;

}
.marquee-right{
	width: 25px;
}

.marquee-left{
	
	width: 25px;
}
.heading{
	font-weight: 900;
	font-size: 30px;
	padding: 10px;
}
}