!!!
%html
	%head
		%title
			Wishme Hub
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
		= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
		%script{'async':true ,'src':"//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
		:javascript
			(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-8656288428865042",
			enable_page_level_ads: true
			});

	%body
		.container-fluid
			.marquee.row
				%marquee.col-xs-1{'direction':'up','scrolldelay:':'5'}
					=image_tag 'diwali1.png' , class:'marquee-left'
					%br
					=image_tag 'diwali2.png' , class:'marquee-left'
					%br
					=image_tag 'diwali1.png' , class:'marquee-left'
					%br
					=image_tag 'diwali2.png' , class:'marquee-left'
					%br
					=image_tag 'diwali1.png' , class:'marquee-left'
					%br
					=image_tag 'diwali2.png' , class:'marquee-left'
					%br
					=image_tag 'diwali1.png' , class:'marquee-left'
					%br
					=image_tag 'diwali2.png' , class:'marquee-left'
					%br
					=image_tag 'diwali1.png' , class:'marquee-left'
					%br
					=image_tag 'diwali2.png' , class:'marquee-left'
					%br
					=image_tag 'diwali1.png' , class:'marquee-left'
					%br
					=image_tag 'diwali1.png' , class:'marquee-left'
					%br
				.middiv.col-xs-10
					.navbar
						.nav.text-center.logo
							=link_to image_tag('logo.png') , root_path
					= yield
					.h1
						%small 
							Wishme-hub is specially designed to wish your family and friends in a better and different way. We have many gif's for many occasions, and we allways keep on adding more. All you needd to do is write your name in the name box and press the
							%i
								wish
							button.

					.footer
						%footer
							.text-center
								%b Creator: ALAAP DHALL
								%br
								%i We appreciate your love, and suppor. please give your feedback and any suggestions.
								%br
							.text-center{'data-target':'#feedback' , 'data-toggle':'modal'}
								.btn.btn-primary.modallink.grey Feedback

				
				%marquee.col-xs-1{'direction':'down','scrolldelay:':'5'}
					=image_tag 'diwali1.png' , class:'marquee-right'
					%br
					=image_tag 'diwali2.png' , class:'marquee-right'
					%br
					=image_tag 'diwali1.png' , class:'marquee-right'
					%br
					=image_tag 'diwali2.png' , class:'marquee-right'
					%br
					=image_tag 'diwali1.png' , class:'marquee-right'
					%br
					=image_tag 'diwali2.png' , class:'marquee-right'
					%br
					=image_tag 'diwali1.png' , class:'marquee-right'
					%br
					=image_tag 'diwali2.png' , class:'marquee-right'
					%br
					=image_tag 'diwali1.png' , class:'marquee-right'
					%br
					=image_tag 'diwali2.png' , class:'marquee-right'
					%br
					=image_tag 'diwali1.png' , class:'marquee-right'
					%br
					=image_tag 'diwali1.png' , class:'marquee-right'
					%br

= render 'feedback'